﻿<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Desafios</h1>
        <p class="lead">Cifra de César</p>
        <p><a href="/Cipher/Index" class="btn btn-primary btn-md">Cifra</a></p>
        <p class="lead">Ranking de quantidade dos caracteres contidos</p>
        <p><a href="/Ranking/Index" class="btn btn-primary btn-md">Ranking</a></p>
    </section>
</main>